<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" /> -->

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
  <div id="app">
    <loading :active.sync="isLoading"></loading>
    <div class="container mt-5" v-cloak>
      <div class="row justify-content-center">
        <div class="col-md-8" v-if="status">
          <div class='row justify-content-between align-items-center px-3'>
            <h1>{{item.name}}</h1>
            <button type="button" class="btn" @click="backHome">回到首頁</button>
          </div>
          <ul class="list-unstyled pl-0 text-muted">
            <li>限制人數: {{descriptionShort.GuestMin}} ~ {{descriptionShort.GuestMax}}</li>
            <li v-for="bed in descriptionShort.Bed">床型: 
              <span>{{bed }}</span>
            </li>
            <li>衛浴: {{ descriptionShort['Private-Bath'] }}間</li>
            <li>房間大小: {{ descriptionShort['Footage'] }}</li>
          </ul>
          <h5>平日價格: {{item.normalDayPrice}}</h5>
          <h5>假日價格: {{item.holidayPrice}}</h5>
          <div id="carouselExampleIndicators" class="carousel slide mt-3" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item"
              :class="index==0 ? 'active' : ''"
              v-for="(image, index) in item.imageUrl"
              :key='index'>
                <img :src="image" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <p class="text-muted mt-3">{{item.description}}</p>
          <div class='service'>
            <h5>設施與服務</h5>
            <div class="container mt-5" v-if="status">
              <div class="row mt-4">
                <div class="col-md-4" :class="amenities['Air-Conditioner'] ? 'text-opacity' : ''">
                  <i class="fas fa-wind"></i>
                  <span class='ml-3'>空調</span>
                </div>
                <div class="col-md-4" :class="amenities['Breakfast'] ? 'text-opacity' : ''">
                  <i class="fas fa-utensils"></i>
                  <span class='ml-3'>早餐</span>
                </div>
                <div class="col-md-4" :class="amenities['Child-Friendly'] ? 'text-opacity' : ''">
                  <i class="fas fa-baby"></i>
                  <span class='ml-3'>孩童設施</span>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-4" :class="amenities['Great-View'] ? 'text-opacity' : ''">
                  <i class="fas fa-mountain"></i>
                  <span class='ml-3'>景觀視野</span>
                </div>
                <div class="col-md-4" :class="amenities['Mini-Bar'] ? 'text-opacity' : ''">
                  <i class="fas fa-glass-cheers"></i>
                  <span class='ml-3'>Mini-Bar</span>
                </div>
                <div class="col-md-4" :class="amenities['Pet-Friendly'] ? 'text-opacity' : ''">
                  <i class="fas fa-cat"></i>
                  <span class='ml-3'>攜帶寵物</span>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-4" :class="amenities['Refrigerator'] ? 'text-opacity' : ''">
                  <i class="fas fa-columns"></i>
                  <span class='ml-3'>冰箱</span>
                </div>
                <div class="col-md-4" :class="amenities['Room-Service'] ? 'text-opacity' : ''">
                  <i class="fas fa-concierge-bell"></i>
                  <span class='ml-3'>客房服務</span>
                </div>
                <div class="col-md-4" :class="amenities['Smoke-Free'] ? 'text-opacity' : ''">
                  <i class="fas fa-smoking-ban"></i>
                  <span class='ml-3'>禁菸</span>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-4" :class="amenities['Sofa'] ? 'text-opacity' : ''">
                  <i class="fas fa-couch"></i>
                  <span class='ml-3'>沙發</span>
                </div>
                <div class="col-md-4" :class="amenities['Television'] ? 'text-opacity' : ''">
                  <i class="fas fa-tv"></i>
                  <span class='ml-3'>電視</span>
                </div>
                <div class="col-md-4" :class="amenities['Wi-Fi'] ? 'text-opacity' : ''">
                  <i class="fas fa-wifi"></i>
                  <span class='ml-3'>Wi-Fi</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" v-if="status">
          <form @submit.prevent='reservation'>
            <div class="form-group">
              <label for="username">名稱</label>
              <input type="text" class="form-control" v-model="user.name" id="username" placeholder="請輸入名稱">
            </div>
            <div class="form-group">
              <label for="telephone">手機號碼</label>
              <input type="tel" class="form-control" v-model="user.tel" id="telephone" placeholder="請輸入手機號碼">
            </div>
            <div class="form-group">
              <label for="example-date-input">選擇日期</label>
              <date-range-picker id="date" v-on:dateRangeChanged="onDateRangeChanged"></date-range-picker>
            </div>
            <button class="btn btn-primary">送出</button>
          </form>
          <ul class='mt-3 list-unstyled' v-if="bookingStatus">
            <li>預約人: {{bookingName}}</li>
            <li>預約時段: {{bookingDate[0]}} ~ {{bookingDate[bookingDate.length-1]}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>
  <script  src="./js/room.js"></script>

</body>
</html>