<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        html, body{
            height: 100%;
            text-align: center;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <form @submit.prevent='signin'>
                <h3 class='mb-3'>請先登入</h3>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" v-model='user.email' class="form-control" id="inputEmail" placeholder="Email address">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" v-model='user.password' class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">登入</button>
                <p class='mt-5 text-muted'>&copy; 2020~∞ - 六角學院</p>
            <form>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                user: {
                    email: '',
                    password: ''
                }
            },
            methods: {
                signin() {
                    const apiUrl = "https://course-ec-api.hexschool.io/api/auth/login";

                    axios.post(apiUrl, this.user)
                        .then(res => {
                            const expired = res.data.expired;
                            const token = res.data.token;

                            document.cookie = `hexToken=${token}; expires=${new Date(expired * 1000)}; path=/`;
                            // 跳轉畫面
                            window.location = 'Products.html';
                        }).catch(error => {
                            console.log(error);
                        })
                }
            }
        })
    </script>
</body>
</html>