<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Week3 Vue 起步走</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="container mt-3">
    <div class="text-right mt-4">
      <button class="btn btn-primary" @click="openModal('new')">建立新的產品</button>
    </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th width="120">分類</th>
          <th>產品名稱</th>
          <th width="120">原價</th>
          <th width="120">售價</th>
          <th width="100">是否啟用</th>
          <th width="120">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td>{{product.category}}</td>
          <td>{{product.title}}</td>
          <td>{{product.origin_price}}</td>
          <td>{{product.price}}</td>
          <td>{{product.is_enabled}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-primary btn-sm" @click="openModal('edit', product)">編輯</button>
              <button class="btn btn-outline-danger btn-sm" @click="openModal('delete', product)">刪除</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="productModalLabel"><span>新增產品</span></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="imageUrl">輸入圖片網址</label>
                <input class="form-control" id="imageUrl" type="text" placeholder="請輸入圖片連結" v-model="tempProduct.imageUrl"/>
              </div><img class="img-fluid" :src="tempProduct.imageUrl"/>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label for="title">標題 </label>
                <input class="form-control" id="title" type="text" placeholder="請輸入標題" v-model="tempProduct.title"/>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="category">分類</label>
                  <input class="form-control" id="category" type="text" placeholder="請輸入分類" v-model="tempProduct.category"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="unit">單位</label>
                  <input class="form-control" id="unit" type="text" placeholder="請輸入單位" v-model="tempProduct.unit"/>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="originPrice">原價</label>
                  <input class="form-control" id="originPrice" type="text" placeholder="請輸入原價" v-model="tempProduct.origin_price"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="price">售價</label>
                  <input class="form-control" id="price" type="text" placeholder="請輸入售價" v-model="tempProduct.price"/>
                </div>
              </div>
              <hr/>
              <div class="form-group">
                <label for="description">產品描述 </label>
                <textarea class="form-control" id="description" placeholder="請輸入產品描述" v-model="tempProduct.description"></textarea>
              </div>
              <div class="form-group">
                <label for="content">說明內容 </label>
                <textarea class="form-control" id="content" placeholder="請輸入說明內容" v-model="tempProduct.content"></textarea>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" id="is_enabled" type="checkbox"/>
                  <label class="form-check-label" for="is_enabled">是否啟用</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">取消</button>
          <button class="btn btn-primary" type="button" @click="updateProduct">確認</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delProductModal" tabindex="-1" role="dialog" aria-labelledby="delProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="delProductModalLabel"><span>刪除產品</span></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">是否刪除<strong class="text-danger">{{tempProduct.title}}</strong>商品(刪除後將無法恢復)</div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">取消</button>
          <button class="btn btn-danger" type="button" @click="delProduct">確認刪除</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-3.4.1.slim.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
