<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Week5 表單驗證</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- .navbar-brand 左上LOGO位置-->
      <a class="navbar-brand logo" href="#">首頁</a>
      <!-- .navbar-toggler 漢堡式選單按鈕-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- .navbar-toggler-icon 漢堡式選單Icon-->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- .collapse.navbar-collapse 用於外層中斷點群組和隱藏導覽列內容-->
      <!-- 選單項目&漢堡式折疊選單 -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <!-- .active表示當前頁面-->
          <li class="nav-item"><a class="nav-link" href="#">關於我們<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">線上商城</a></li>
          <li class="nav-item"><a class="nav-link" href="#">聯絡我們</a></li>
          <!-- .dropdown Navbar選項使用下拉式選單-->
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文章介紹</a>
            <!-- .dropdown-menu 下拉選單內容-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else</a></div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <div class="dropdown ml-auto">
            <button class="btn btn-sm btn-cart" data-toggle="dropdown" data-flip="false" @click="getCartData">
              <i class="fa fa-shopping-cart text-light fa-2x" aria-hidden="true"></i>
              <span class="badge badge-pill badge-danger">1</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right p-3" style="min-width: 600px;" data-offset="40">
              <div class="col-md-12">
                <div class="mb-2">
                  <h4>已選擇商品</h4>
                </div>
                <div class="text-right">
                  <button type="button" class="btn btn-outline-danger">
                    <i class="far fa-trash-alt">刪除所有商品</i>
                  </button>
                </div>
                <table class="table mt-3">
                  <thead>
                    <tr>
                      <th>刪除</th>
                      <th>名稱</th>
                      <th width="150px">數量</th>
                      <th>單位</th>
                      <th>價格</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle">
                        <button type="button" class="btn btn-outline-danger btn-sm">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </td>
                      <td class="align-middle">格蘭諾拉麥片</td>
                      <td class="align-middle">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-primary">+</button>
                          </div>
                          <input type="text" class="form-control text-center" value=1>
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary">-</button>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">包</td>
                      <td class="align-middle">NT 600</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4" class="text-right">總計</td>
                      <td class="text-right">600</td>
                    </tr>
                  </tfoot>
                </table>
                <button class="btn btn-primary btn-block">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i> 結帳
                </button>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <div class="row product">
      <div class="col-sm col-md-4 col-sm-4" v-for="product in products">
        <img class="imgSize" :src="product.imageUrl[0]" alt=""/>
        <div class="title">{{product.title}}</div>
        <div class="price">{{product.price}}</div>
        <button class="btn btn-outline-primary mt-2 float-left" @click="openModal(product)">查看內容</button>
        <button class="btn btn-outline-danger mt-2 float-right" @click="addToCart(product)">加入購物車</button>
      </div>
    </div>

    <!-- tempProductModal -->
    <div class="modal fade" id="tempProductModal" tabindex="-1" role="dialog" aria-labelledby="tempProductModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tempProductModalLabel">{{tempProduct.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <img class="imgSize" style="height: 300px;width: 300px;" :src="tempProduct.imageUrl[0]"></img>
            </div>
            <div class="text-center mt-3">
              <p class="text-left">{{tempProduct.content}}</p>
              <p class="text-muted text-left" style="font-size: 8px;">{{tempProduct.description}}</p>
              <p class="price text-right">{{tempProduct.price}}</p>
            </div>
            <select name="" v-model="tempProduct.num" class="form-control mt-3">
              <option value="0" disabled selected>
                請選擇數量
              </option>
              <option v-for="num in 10" :key="num" :value="num" >
                選購 {{ num }} {{ tempProduct.unit }}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <div v-if="tempProduct.num" class="text-muted">
              小計 
              <strong>{{ tempProduct.num * tempProduct.price }} 元</strong>
            </div>
            <button type="button" class="btn btn-primary" @click="addToCart(tempProduct, tempProduct.num)">加到購物車</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- partial -->
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>

<!-- 主元件 -->
<script  src="./all.js"></script>

</body>
</html>
